<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @product_attribute.key %>
</p>

<p>
  <strong>Value:</strong>
  <%= @product_attribute.value %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @product_attribute.desc %>
</p>

<p>
  <strong>Product:</strong>
  <%= @product_attribute.product_id %>
</p>

<p>
  <strong>Permalink:</strong>
  <%= @product_attribute.permalink %>
</p>

<%= link_to 'Edit', edit_product_attribute_path(@product_attribute) %> |
<%= link_to 'Back', product_attributes_path %>
